FASTAPI__DB__USER=app
FASTAPI__DB__PASSWORD=change_me
FASTAPI__DB__DB=shop
FASTAPI__DB__HOST=pg
FASTAPI__DB__PORT=5432

FASTAPI__REDIS__HOST=redis
FASTAPI__REDIS__PORT=6379
FASTAPI__REDIS__DB__CACHE=0

FASTAPI__TELEGRAM__BOT_TOKEN=

FASTAPI__CRM__API_URL=
FASTAPI__CRM__API_KEY=
FASTAPI__CRM__TIMEOUT_SECONDS=10
FASTAPI__CRM__RETRIES=3

FASTAPI__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=
FASTAPI__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=
